{{title}}
<button> {{#link-to 'posts' (query-params sortProperties=sortProperties sortAscending=true)}} {{{downArrow}}} {{/link-to}}</button>
<button> {{#link-to 'posts' (query-params sortProperties=sortProperties sortAscending=false)}} {{{upArrow}}} {{/link-to}}</button>
