<div class='about'>
  <p>Jeffrey Biles loves exploring, teaching, and writing beautiful code.  You can watch him code at Ember Sparks (here), listen to him think at the <a href="http://smartbookspodcast.com/">Smart Books Podcast</a>, read his tweets at <a href="https://twitter.com/JeffreyBiles">@jeffreybiles</a>, or hire him to work on your project at <a href="http://frontside.io/">The Frontside</a>.</p>
</div>